@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-pictures {
  background-image: url('/1.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* https://cdn.pixabay.com/photo/2023/02/16/03/43/music-player-7792956_960_720.jpg */